p1mfa.environment.id=
p1mfa.population.id=

p1mfa.connection.auth.baseurl=https://auth.pingone.asia
p1mfa.connection.api.baseurl=https://api.pingone.asia/v1
p1mfa.connection.client.id=
p1mfa.connection.client.secret=
p1mfa.connection.client.scopes=

input.users.csv.file=loadusers.csv

producer.output.folder=out/producer

consumer.threads=20
consumer.output.folder=out/consumer
consumer.queue.size=1000000

http.max.connections=20
http.max.route=5
http.timeout.connection=5000